:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* vidoe som bakgrund */
 .video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* gör att videon fyller hela ytan*/
  z-index: -1; /*skickar videon bakom allt innehåll  */
}

p{
  color: white;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {

  color: wheat;
}
.collectionFlag{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 2rem;
  width: auto;
  height: auto;
}
.flagContainer{
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.quizcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.quizform{
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.inputfield{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1.5em;
}
.selectfield{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1.5em;
}
.questionscontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 0.9rem;
}

.quizbtn{
  width: 340px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.pointsP{
  font-size: 1.9em;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 4.2em;
  line-height: 1.1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.selectop {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: wheat;
  }
  button {
    background-color: #f9f9f9;
  }
}
